<?xml version="1.0"?>
<Installer>
    <Name>MidiEditor AI</Name>
    <Version>1.0.1</Version>
    <Title>MidiEditor AI</Title>
    <Publisher>happytunesai</Publisher>
    <ProductUrl>https://github.com/happytunesai/MidiEditor_AI</ProductUrl>
    <InstallerWindowIcon>package.png</InstallerWindowIcon>
    <Logo>midieditor.png</Logo>
    <RunProgram>@TargetDir@/MidiEditorAI.exe</RunProgram>
    <RunProgramArguments/>
    <RunProgramDescription>Run MidiEditor AI</RunProgramDescription>
    <StartMenuDir>MidiEditor AI</StartMenuDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <WizardStyle>Modern</WizardStyle>
    <WizardDefaultWidth>800</WizardDefaultWidth>
    <WizardDefaultHeight>450</WizardDefaultHeight>
    <ControlScript>controlscript.qs</ControlScript>

    <TargetDir>@HomeDir@/MidiEditorAI</TargetDir>
    <AdminTargetDir>@RootDir@/MidiEditorAI</AdminTargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>https://happytunesai.github.io/MidiEditor_AI/</Url>
            <Enabled>1</Enabled>
            <DisplayName>Github Repository</DisplayName>
        </Repository>
    </RemoteRepositories>
</Installer>